.infos-club-main {
    display: flex;

    p {
        width: 490px;
        height: 105px;
        font-family: FrutigerLTStd-Roman;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #5b5b5b;
    }

}